<h3>About Me</h3>

<div class="card z-depth-3">
	<div class="card-content white-text">
		<div class="col m6">   
            <a class="twitter-timeline" data-height="400" href="https://twitter.com/JandersonCRB?ref_src=twsrc%5Etfw">Tweets by JandersonCRB</a> 
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
		<div class="col m6">
			<div class="card-panel grey lighten-5 z-depth-1">
				<div class="row valign-wrapper">
					<div class="col m3">
						<%= image_tag "avatar.jpg", class: "circle responsive-img" %>
					</div>
					<div class="col m9">
						<span class="black-text">
							Guitarrista e programador da Mont Viagens :)
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

