<h3>Contact</h3>

<div class="card z-depth-3">
	<div class="card-content">
		<p>Do you wanna talk? Find me on the map and we can have some drinks</p>
		<br/>
		<div id="map-canvas"></div>		
	</div>
</div>

<style>
  #map-canvas {
    width: 100%;
    height: 400px;
  }
</style>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(-9.667497, -35.715526),
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
    var marker = new google.maps.Marker({
    	position: new google.maps.LatLng(-9.667497, -35.715526),
    	title: "Here is Mont!"
    });
    marker.setMap(map);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>